@use '../../style/mixin.scss' as mix;
@use '../../style/variable.scss' as var;

.Location {
	.title {
		margin: 0;
		font-weight: 500;
		color: var.$color-highlight;
		font-size: var.$font-large;
	}
	.text {
		margin: 0 0 10px 0;
		font-size: var.$font-large;
	}
	.place {
		font-family: var.$secondary-font;
		margin: 0;
		font-size: var.$font-small;
	}
}
