@use '../style/variable.scss' as var;

.App {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 40px 35px;
	min-height: 100vh;
	overflow: hidden;
	&::before {
		position: absolute;
		content: '';
		background-image: url(../../public/floor.png);
		background-repeat: no-repeat;
		background-position: bottom center;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		background-size: 120%;
		z-index: -9;
	}
}

.loading {
	background-color: var.$color-highlight;
	position: relative;
	&::before {
		position: absolute;
		content: '';
		background-image: url(../../../public/example-Photoroom.png);
		background-repeat: no-repeat;
		background-position: bottom center;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		background-size: 120%;
	}
}

@media (max-width: 420px) {
	.App::before {
		background-size: 100%;
	}
	.loading::before {
		background-size: 100%;
	}
}
