$primary-font: 'BerkshireSwash', sans-serif;
$secondary-font: 'Outfit', sans-serif;

$color-primary: #1d2e5f;
$color-secondary: #fef8e8;
$color-highlight: #ec2c22;
$color-white: #ffffff;

$font-small: clamp(18px, 4vw, 24px);
$font-medium: clamp(24px, 4vw, 36px);
$font-large: clamp(40px, 9vw, 52px);

$padding-app: 40px 35px;